.app.dark {
  --bg-color: #060638;
  --inverted-bg-color: #dbdbdb;

  --primary-color: #02bea9;
  --secondary-color: #3ece3e;
  --inverted-primary-color: #0263be;
  --inverted-secondary-color: #3eb8ce;
}
