.app_dark_theme {
  --bg-color: #060638;
  --inverted-bg-color: #dbdbdb;
  --primary-color: #02bea9;
  --secondary-color: #3ece3e;
  --inverted-primary-color: #0263be;
  --inverted-secondary-color: #3eb8ce;

  // Skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // Code
  --code-bg: #1212a1;

  // Card
  --card-bg: #101070;
}
